@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background: #f4eeff;
	font-family: "NanumSquare", sans-serif;
}

button {
	background: #a6b1e1;
	border: none;
}

button:hover {
	background: #424874;
	color: white;
	transition: 0.2s;
}

input {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: large;
}

input:hover {
	background: #f8f9fa;
	transition: 0.4s;
}

input:focus {
	outline: none;
	background: #f8f9fa;
}
